/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 100px;
	color: #fff;
	font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background:black;
	background: url(img/background.png) repeat 5% 5%;
	padding:75px;
}

/*#background {
	background: url(img/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#midground {
	background: url(img/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
}*/

/*#foreground {
	background: url(img/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
}*/


/* Begin TARDIS */
/* tardis blue:#210664; */

.talk{
	color:#fff;
}

.talk h1{
	font-size: 54px;
}

.talk h2{
	font-size: 36px;
}

span.by{
	font-style: italic;
	margin-left: 10%;
}

.info{
	font-size: 16px;
	color:white;
	width:40%;
	float: right;
	padding:24px;
	margin-top: 48px;
	line-height: 1.4em;
}

.info p{
	margin-bottom: 12px;
}

#policeBox{

	max-width: 4.65em;
	float: left;
	margin-bottom: 0.5em;
	padding-left: 0.18em;
    opacity: 1;
    z-index: 300;
}

.ie9 #policeBox{
	padding-bottom: 1em;
}

#doors::before, #doors::after{
	content: '';
	width: 0.50em;
	display: block;
	height: 7.7em;
	float: left;
	background: #145788;
	border: 0.010em solid #1066a8;
	border-left: 0.010em solid #1066a8;
	border-right: 0.050em solid #0c2d4c;
	border-bottom: none;
	margin-top: -0.96em;
	border-radius: 0.050em 0.050em 0 0;
	-moz-border-radius: 0.050em 0.050em 0 0;
	position: relative;
	z-index: 1;
}
.gecko #doors::before, .gecko #doors::after{
	height: 7.8em;
}

 #doors::after{
 	border-right: 0;
 	border-left: 0.050em solid #0c2d4c;
 	border-radius: 0.050em 0.050em 0 0;
 	-moz-border-radius: 0.050em 0.050em 0 0;
 }


.door{
	background: #0c4f83;
	display: block;
	width: 1.25em;
	float: left;
	border: 0.01em solid black;
	padding: 0.25em;
	padding-bottom: 0;
	box-shadow: inset 0.020em 0 0.20em #000;
}

.door.right{
	box-shadow: inset -0.020em 0 0.20em #000;
	position: relative;
}

.door.right::before{
	display: block;
	width: 0.10em;
	height: 6.8em;
	background: #0c4f83;
	z-index: 9;
	position: absolute;
	content: '';
	top: 0;
	left: -0.07em;
	border: 0.01em solid #1066a8;
	box-shadow: 0 0 0.050em #000;
}


#frame{
	height: 6.68em;
}

#base{
	display: block;
	height: 0.25em;
	width: 5em;
    background: #0c4f83;
    content: '';
    margin-left: -0.17em;
	border-top: solid 0.010em #1066a8;
	position: relative;
	z-index: 10;
	border-radius: 0.050em 0.050em 0 0;
	-moz-border-radius: 0.050em 0.050em 0 0;
	margin-top: 0.070em;
}

.gecko #base{
	height: 0.25em;
	margin-top: 0.14em;
}

#sign{
	background: #0c4f83;
	padding: 0.060em 0.3em;
	z-index: 10;
	position: relative;
	box-shadow: 0 0.040em 0.20em #000;
	border: 0.01em solid #1066a8;
	border-bottom: 0;
	border-radius: 0.025em;
	-moz-border-radius: 0.025em;
	width: 4.1em;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	text-shadow: 0 0 0.3em #fff;
}

.gecko #sign{
	width: 3.5em;
}

#sign::before, #sign::after{
	content'';
	width: 0.15em;
	display: block;
	background: #0c4f83;
	border: 0.01em solid #1066a8;
	border-width: 0.01em 0.01em 0;
	border-radius: 0.025em 0 0 0.025em;
	-moz-border-radius: 0.025em 0 0 0.025em;
	height: 0.6em;
	position: absolute;
	top: -0.010em;
	z-index: 11;
	content: '';
}

#sign::before{
	left: -0.44em;
}

.gecko #sign::before{
	left: -0.43em;
}

#sign::after{
	right: -0.45em;
	border-radius: 0 0.025em 0.025em 0;
	-moz-border-radius: 0 0.025em 0.025em 0;
}

.gecko #sign::after{
	right: -0.44em;
}

#sign h2{
	background: #091a45;
	color: #fff;
	font-size: 0.29em;
	font-weight: 100;
	text-transform: uppercase;
	padding: 0.30em;
	border: 0.040em solid #1066a8;
	box-shadow: inset 0 0 0.50em 0 #000;
	letter-spacing: 0.10em;
	overflow: hidden;
	height: 1em;
	text-align: center;
	width: 370px;
	margin: 0 auto;
	margin-left: -20px;

}

.ie9 #sign h2, .gecko #sign h2{
	padding: 0.30em 0;
	width: 11em;
}

#sign h2 small{
	font-size: 0.4em;
	margin: 0 1em;
	width: auto;
	display: inline-block;
	text-align: center;
	letter-spacing: 0.30em;
	font-weight: bold;
	line-height: 1.2em;
}


.window{
	width: 100%;
	height: 1.38em;
	display: block;
	border: 0.01em solid #000;
	box-shadow: 0 0.010em 0.050em 0 #000;
	padding: 0.055em;
	padding-left: 0;
	box-sizing: border-box;
	margin-bottom: 0.25em;
	border: 0.01em solid #fff;
}

.gecko .window{
	height: 1.31em;
}

.window li{
	box-sizing: border-box;
	float: left;
	width: 0.34em;
	height: 0.60em;
	display: block;
	margin-left: 0.050em;
	margin-bottom: 0.050em;
	box-shadow: inset 0 0.010em 0.045em #000;
	background: #6e696f;
	border: 0.01em solid #fff;
}

.window li:nth-child(1),.window li:nth-child(2),.window li:nth-child(3){
	box-shadow: inset 0 0.010em 0.045em #000;
}

.window li:nth-child(1),.window li:nth-child(2),.window li:nth-child(3),.window li:nth-child(5){
	background: #444045;
}

.panel{
	width: 100%;
	height: 1.38em;
	display: block;
	box-shadow: 0 0 0.02em 0 #000;
	padding-left: 0;
	box-sizing: border-box;
	margin-bottom: 0.25em;
	box-shadow: inset 0 0.020em 0.20em #000;
	border-bottom: 0.010em solid #1066a8;
}

.panel.notice{
	position: relative;	
	box-shadow: 0 0.010em 0.010em #000;
	border-top: 0.010em solid #1066A8;
	border-bottom: none;
}

.panel.notice::after{
	content: '';
	background: url(img/tardisSprite.png) 0 -0.20em no-repeat;
	width: 0.20em;
	height: 0.20em;
	background-size: 0.20em;
	display: block;
	position: absolute;
	left: 1.22em;
	top: 1.40em;
}

.instructions{
	width: 1.1em;
	height: 1.2em;
	display: block;
	padding: 0.075em 0.050em 0;
	box-sizing: border-box;
	box-shadow: inset 0 0.020em 0.030em #000;
	position: absolute;
	top: 0.08em;
	left: 0.08em;
	border-bottom: 0.010em solid #1066A8;
	color: #111;
	font-family: serif;
	overflow: hidden;
}

.gecko .instructions{
	width: 0.99em;
	height: 1.13em;
}

.window, .instructions{
	background: #dfe0d9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTBkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmYwZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #dfe0d9 0%, #eff0e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe0d9), color-stop(100%,#eff0e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dfe0d9 0%,#eff0e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dfe0d9 0%,#eff0e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dfe0d9 0%,#eff0e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dfe0d9 0%,#eff0e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0d9', endColorstr='#eff0e8',GradientType=0 ); /* IE6-8 */
}

.instructions h2, .instructions h4{
	font-size: 0.08em;
	text-transform: uppercase;
	margin-bottom: 0.4em;
	text-align: center;
}

.instructions h4{
	font-size: 0.13em;
}

.ie9 .instructions h4{
	font-size: 0.11em;
}

.instructions h3{
	font-size: 0.14em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.4em;
}

.instructions h3 small{
	display: block;
	font-size: 0.54em;
	margin-bottom: 0.1em;
}

.instructions p{
	font-size: 0.07em;
	text-transform: uppercase;
	margin-bottom: 0.6em;
	text-align: center;
	font-family: sans-serif;
	line-height: 1.2em;
}

.badge{
	position: relative;
}

.badge::before{
	content: '';
	background: url(img/tardisSprite.png) 0 -1em no-repeat;
	width: 0.15em;
	height: 0.75em;
	background-size: 0.5em;
	display: block;
	position: absolute;
	left: -0.16em;
	top: 1.13em;
}

.badge::after{
	content: '';
	background: url(img/tardisSprite.png) no-repeat;
	width: 0.5em;
	height: 0.5em;
	background-size: 0.5em;
	display: block;
	position: absolute;
	left: 0.37em;
	top: 0.4em;
}

.skirting{
	display: block;
	content: '';
	height: 0.6em;
	width: 4em;
	background: #0c4f83;
	margin: 0 auto;
	border: 0.010em solid #1066a8;
	position: relative;
	z-index: 1;
}

.skirting::before, .skirting::after{
	content: '';
	display: block;
	width: 0.30em;
	height: 0.40em;
	border: 0.010em solid black;
	position: absolute;
	bottom: 0.23em;
	border-radius: 0.050em 0.050em 0 0;
	-moz-border-radius: 0.050em 0.050em 0 0;
	background: #0c4f83;
	border: 0.010em solid #1066a8;
	border-right: 0.050em solid #0c2d4c;
}

.skirting::before{
	left: -0.20em;
}

.skirting::after{
	left: none;
	right: -0.20em;
	border-right: 0.010em solid #1066a8;
	border-left: 0.050em solid #0c2d4c;
}

.roof{
	content:'';
	width: 0;
	height: 0;
	border-left: 2em solid rgba(255, 255, 255, 0);
	border-right: 2em solid rgba(255, 255, 255, 0);
	border-bottom: 0.30em solid #1066a8;
	margin-left: 0.32em;
	position: relative;
	margin-bottom: 0.14em;
}

.roof::after{
	content: '';
	display: block;
	height: 0.25em;
	width: 4.025em;
	background: #df4800;
	position: absolute;
	left: -2em;
	bottom: -0.57em;
	background: #0c4f83;
	border: 0.01em solid #1066a8;
}

.lamp{
	width: 0.45em;
	display: block;
	content: '';
	height: 0.65em;
	background: #e9efbd;
	border-radius: 0.050em;
	-moz-border-radius: 0.050em;
	position: relative;
	margin: 0 auto -0.050em;
	box-shadow: inset 0 0 0.50em #fff;
	border: 0.030em solid #1a77ba;
	z-index: 9;
	border-width: 0.030em 0.030em 0;
    -webkit-animation: myfirst 8s; /* Chrome, Safari, Opera */
    animation: myfirst 8s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    10%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    20%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    30%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    40%  {background: white;box-shadow: 0 0 2em 0.5em white;}
    50% {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    60%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    70%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    80%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    90%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    100%  {background: white;box-shadow: 0 0 2em 0.5em white;}
}

/* Standard syntax */
@keyframes myfirst {
   0%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    10%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    20%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    30%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    40%  {background: white;box-shadow: 0 0 2em 0.5em white;}
    50% {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    60%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    70%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    80%   {background: white;box-shadow: 0 0 2em 0.5em white;}
    90%  {background: yellow;box-shadow: 0 0 2em 0.5em yellow;}
    100%  {background: white;box-shadow: 0 0 2em 0.5em white;}
}


.glow .lamp{
	background: #fff;
	box-shadow: 0 0 2em 0.5em #fff;
	-webkit-animation: myfirst 8s; /* Chrome, Safari, Opera */
    animation: myfirst 8s;
}

.lamp::after{
	content: '';
	display: block;
	height: 0.15em;
	width: 0.60em;
	background: #1a77ba;
	position: absolute;
	bottom: -2;
	left: -0.08em;
	border-radius: 0.050em 0.050em 0 0;
	-moz-border-radius: 0.050em 0.050em 0 0;
	z-index: 9;


}

.glow .lamp::after{
	border-top: 0.001em #fff;
}

.lamp::before{
	content: '';
	position: absolute;
	top: -0.01em;
	left: -0.05em;
	background: #1a77ba;
	height: 0.07em;
	width: 0.55em;
	z-index: 9;
}

.ie9 .lamp::after{
	top: 0.5em;
}

 /* WebKit and Opera browsers */
  @-webkit-keyframes policeBox {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* WebKit and Opera browsers */
  @-webkit-keyframes rotateSign {
    from { 
    	 -webkit-transform:rotateY(180deg);
		  -moz-transform:rotateY(180deg);
		  -o-transform:sign;
		  -ms-transform:rotateY(180deg);
		  unicode-bidi:bidi-override;
		  direction:rtl; 
    	  }
    to   { 
    	-webkit-transform:rotateY(180deg);
		  -moz-transform:rotateY(180deg);
		  -o-transform:rotateY(180deg);
		  -ms-transform:rotateY(180deg);
		  unicode-bidi:bidi-override;
		  direction:rtl; 
	    }
	  }

  /* all other browsers */
  @keyframes policeBox {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

   #stage {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }

  #policeBox {
    -webkit-animation-name: policeBox;
   /* -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;*/
    -webkit-animation-duration: 10s;

    animation-name: policeBox;/*
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/
    animation-duration: 10s;

/*    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;*/
  }

  #policeBox #sign, #policeBox .instructions{
    -webkit-animation-name: rotateSign;
     -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 2.7s;

    animation-name: rotateSign;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -animation-delay: 2s;
  }

  #policeBox:hover,#policeBox #sign:hover, #policeBox .instructions:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }




